@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --scroll-bar-width: 7px;
}

html,
body,
body > div:first-child,
#__next {
    height: 100%;
    -webkit-tap-highlight-color: transparent !important;
    width: calc(100vw - var(--scroll-bar-width));
}

/** Prevent a blank-blink until normarise.css is loaded complete */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100%;
    background-color: #f8f8f8;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.loading {
    width: 100%;
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}

::-webkit-scrollbar-thumb {
    background: rgb(94, 93, 93);
    border-radius: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
    background: rgba(248, 248, 248, 1);
    border-radius: var(--scroll-bar-width);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46);
}

@media (max-width: 700px) {
    html,
    body,
    body > div:first-child,
    #__next {
        width: 100vw;
    }
}
@media (max-width: 510px) {
    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }
}
